-e ./
aeppl>=0.0.40
aesara>=2.8.8
arviz
flax
ipython
jax>=0.4.25
jaxlib>=0.4.25
jaxopt<=0.8.3
jupytext
myst_nb>=1.0.0
numba
numpyro
optax
oryx
pymc
scikit-learn
sphinx
sphinx-autoapi
sphinx-autobuild
sphinx-book-theme
sphinx-design
sphinx-math-dollar
sphinxcontrib-bibtex
tfp-nightly[jax]
versioneer
