-e ./
arviz
aesara
distrax
jax
jaxlib
jaxopt
jupytext
myst_nb
numpyro
optax
pymc
scikit-learn
seaborn
sphinx
sphinx-autobuild
sphinx-book-theme
sphinx-math-dollar
tensorflow
tensorflow-datasets
tfp-nightly[jax]
watermark
