name: Build the documentation

on:
  pull_request:
    branches: [main]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the branch
        uses: actions/checkout@v3
        with:
          persist-credentials: false

      - name: Set up Python 3.12
        uses: actions/setup-python@v4
        with:
          python-version: 3.12

      - name: Build the documentation with Sphinx
        run: |
          pip install -r requirements-doc.txt
          sphinx-build -b html docs docs/build/html
