name: Tests

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  style:
    name: Check the code style
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: 3.12
    - uses: pre-commit/action@v3.0.0

  test:
    name: Run tests for Python ${{ matrix.python-version }}
    runs-on: ubuntu-latest
    needs:
      - style
    strategy:
      matrix:
        python-version: ['3.12', '3.13']
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Set up test environment
      run: |
        python -m pip install --upgrade pip
        pip install .
        less requirements.txt | grep 'pytest\|chex' | xargs -i -t pip install {}
    - name: Run tests
      run: |
        pytest -n auto -vv --benchmark-disable --cov=blackjax --cov-report=xml --cov-report=term tests
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3
      with:
        env_vars: OS,PYTHON
        name: codecov-umbrella
        fail_ci_if_error: false
